
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//$navbar : #110D44;
$navbar : #31789e;
$navbar_text : #d3d3d3;
$side_menu_back : #033149;
$side_menu_text : #d3d3d3;
$light-black: #1B1B1B;
$black_text : #333;
button{
  color: #A9FFEE;
  background-color: #110D44;
  border-color: #A9FFEE;
  border: 1px solid #A9FFEE;
  border-radius: 4px;
}
input{
  border: 0px solid;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  width: 100%;
}
.cien{
  height: 100%;
}
body{
  font-family: Arial;
  overflow: hidden;
  color: $black_text;
}
a{
  color: $navbar-text;
  text-decoration: none;
}
a:hover{
  color: $navbar-text;
  text-decoration: underline;
}
.img-thumbnail-custom{
  background-color: #f5f8fa;
  border: 1px solid #dee2e6;
  max-width: 100%;
  height: auto;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.fixed_navbar{
  font-family: "Segoe UI", sans-serif;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 5vh;
  background-color: $navbar;
  font-size: large;
  padding: 0.4rem 0rem 0rem 0rem;
}
.navbar_name_logo{
  text-align: center;
  display: inline-block;
}

.navbar_section{
  display: inline-block;
  color: $navbar_text;
  text-decoration: none;
  webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  &:hover{


  }
  margin: 0rem 1rem 0rem 1rem;
}
.navbar_input_search{
  margin-left: 1rem;
  display: inline-block;
  width: 25%;
}
.navbar_search{
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
}
.navbar_all_buttons{
  display: inline-block;
}
#content{
  margin-right: 0rem;
}
#embed_live_stream{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}
.navbar_user{
  &:hover{
    transform: none;
  }
  img{
    width:2.4rem;
  }
  i{
    right: 1rem;
    position: absolute;
    top: 0.8rem;
  }
  float: right;
  width: 8%;
  text-align: left;
  cursor: pointer;
  margin: 0;
}

.span_canales{
  margin: 1rem;
  display: block;
  border-bottom: 0.5px solid $navbar_text;
}

.menuSideBar,.menuSideBar2{
  background: $side_menu_back;
  color: $navbar_text;
  font-size: medium;
}
.profile_banner{
  &>img{
    width: 100%;
    height:  100%;
  }
  &>.image_profile>img{
    width: 100%;
    height:  100%;
    border-radius: 1px;
  }
  &>form{
    position: absolute;
    bottom: 10%;
    width: auto;
    left: 8%;
  }
  margin: 0rem -0.95rem;
  background-color: $light-black;
  height: 40%;
  color: #fff;
  position: relative;
}

.profile_info{

}

.channel_thumnail{
  text-align: left;
  width: 11.99rem;
  display: inline-table;
  margin: 1rem 1rem;
  a,span{
    font-size: smaller;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: .3rem ;
  }
  :nth-child(3),:nth-child(4){
    width: 5.99rem;
  }
  :nth-child(2){
    width: 11.99rem;
  }
}
.juego_thumnail{
  text-align: left;
  width: 9.7rem;
  display: inline-table;
  margin: 1rem 1rem;
  a,span{
    font-size: smaller;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: .3rem;
  }
  :nth-child(3),:nth-child(4){
    width: 2.99rem;
  }
  :nth-child(2){
    width: 9.7rem;
  }
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.index_juegos{
  margin: 1rem;
}
.torneos_contenido_selected{
  animation: fadeEffect 0.3s;
}

.juego_image_info{
  width: 25%;

}

.show_juego_info{
  text-align: center;
  margin-top: 1rem;
}
.juego_info{
  span{
    display:block;
  }
  display:block;
}
.image_profile{
  span{
    position: absolute;
    bottom: 0;
    margin-left: 6rem;
    margin-bottom: 1rem;
  }
  margin: 1rem;
  float: left;
  width: 5rem;
  height: 5rem;
  bottom: 0;
  position: absolute;
}

.perfil_lateral_channel {
  a{

  }
  top: 0;
  position: absolute;
  left: 0;
  height: 100%;
}
.busca_tu_juego{
  margin-bottom: 1rem;
  font-size: 2rem;
  .clear_buton{
    font-size: large;
    margin-left: 2.2rem;
  }
}

.torneos_formulario_filtro{
  margin: 1.5rem 6rem;
}
.carousel-control.left, .carousel-control.right {
  background: none;
  border: none;
}
.carousel_display_show{
  display: inline-table;
}
.carousel_display_none{
  display: none;
}
.torneos_select_juegos{
  width: auto;
}

.torneos_botones_secciones {
  &.active{
    border-bottom: 2px solid $navbar;
  }
  width: 24%;
  display: inline-block;
  margin-top: 2rem;
  text-align: center;
  cursor: pointer;
}
.torneo_lista_info {
  display: inline-block;
  margin: 0rem 1rem;
}

.bot_menuSideBar{
  margin: .5rem 0rem;
  &>ul>li{
    list-style: none;
    a{
      color: #d3d3d3;
      text-decoration: none;
    }
  }
}
.channel_lateral{
  height: 100%;
  right: 0;
  float: right;
  position: absolute;
}

#search_navbar{
  border: 0px solid;
  border-radius: 1px;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  width: 100%;
}

.separador_list{
  &.active{
    background: #d3d3d333
  }
  cursor: pointer;
  float: left;
  text-align: center;
  font-size: large;
  color: #110D44;
  padding: 0.3rem;
}

.p_de_ayuda_ajax{
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
}

.juego_div_list{
  &:hover{
    background: #d3d3d3;
    cursor: pointer;
  }
  border-radius: 4px;
  margin: 0.7rem 0.2rem;
  background: #d3d3d333;
  padding: 0.5rem 1rem;
}

.busca_tu_juego_input{
  font-size: 1.1rem;
}

.contenido_juegos{
  display: block;
  overflow: auto;
  height: 70vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Let's get this party started */
.contenido_juegos::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.contenido_juegos::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.contenido_juegos::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $navbar;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.contenido_juegos::-webkit-scrollbar-thumb:window-inactive {
  background: #286082;
}
.btn_jugar{
  display: flex;
  cursor: pointer;
  border: solid 2px $navbar;
  background: #fff;
  color: $navbar;
  border-radius: 2px;
  padding: 0rem 0.5rem;
  font-weight: bold;
  &:hover{
    background : $navbar;
    color: #fff;
  }
}
.btn_dejar{
  cursor: pointer;
  border: solid 2px #dc3545;
  background: #fff;
  color: #dc3545;
  border-radius: 4px;
  padding: 0rem 0.5rem;
  font-weight: bold;
  &:hover{
    background : #dc3545;
    color: #fff;
  }
}
.dejar_de_seguir{
  cursor: pointer;
  border: solid 2px rgba(0, 0, 0, 0.2);
  background: #d3d3d333;
  color: #8e8e8e;
  border-radius: 2px;
  padding: 0rem 0.5rem;
  font-weight: bold;
  &:hover{
    background : #dc3545;
    color: #fff;
  }
}
.pestanya{
  font-weight: bold;
  font-size: 1.5rem;
}

.fadein {
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.fadeout{
  display: none;
  opacity: 0;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
.fadein {
  opacity: 1;
  display: block;
}

.div_scrolled{
  overflow-y: auto;
  height: 46%;
  margin: 0% -1% 0% 4%;
}
.separador_pestanyas{
  padding: 0% 45.19%;
  &>div{
    height: 2.7rem;
    border: solid 2px grey;
    border-radius: 4px;
  }
}
.contenidos_profile{
  text-align: center;
  color: $black_text;
  box-sizing: border-box;
  margin: 1rem;
}

.boton_perfil{
  position: absolute;
  bottom: 6%;
  left: 8%;
}
.boton_perfil_index{
  margin-top: 1rem;
}
.rrss{
  &>img{
    vertical-align: middle;
    border-style: none;
    width: 14%;
    margin-right: 2rem;
  }
  display: inline-block;
  width: 100%;
  margin: 1rem 2rem 1rem 0rem;
  text-align: left;
}
.rrss_name{
  display: inline-block;
}

.myInfo_contenido{
  text-align: left;
  margin-top: 1rem;
}

.top_profile_name{
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}

.explorar_selector{
  margin: 1rem;
  padding: 1.5rem 2rem;
  background: #fff;
  border: 1px solid #e3e3e3;
}
.explorar_select{
  option{
    &:checked{
      background: #d3d3d333;
    }
    &:hover{
      background: #d3d3d3;
    }
    padding-left: 0.5rem;
  }
  padding: 0.3rem 0.5rem 0.3rem 0.8rem;
}
.profile_options{
  div{
    &:hover{
      a{
        color: $navbar_text;
        text-decoration: none;
      }
      background-color: $side_menu_back;
    }
    padding: 0.5rem 0rem;
  }
  &:first-child{
    margin-top: .5rem;
  }
  &:last-child{
    margin-bottom: 0.5rem;
  }
  width: 8%;
  background-color: $navbar;
  position: absolute;
  top: 2.96rem;
  right: 0rem;
  z-index: 15000;
}
.hidden{
  display: none;
}
.logOut{
  cursor: pointer;
}
.show_thumbnail{

}
.tabs_juegos{
  height: 100%;
  background-color: #d3d3d3;
  width: 100%;
  padding: 0rem 2rem;
}
.tab_canales{
  width: 8rem;
  height: 100%;
  vertical-align: baseline;
  text-align: center;
  padding-top: 0.9rem;
  cursor: pointer;
  float: left;
}
.active_pestanyas{
  background: #f5f8fa;
  border-top: 6px solid #d3d3d3;
}
.tw-button-icon{
  color:$navbar;
}
.tw-button{
  background: $navbar !important;
}

.streaming_footer{
  color: #31789e;
  &:hover{
    color: #31789e;
    text-decoration: underline;
  }
}
.list_title{
  padding: 1rem;
}
.list_title_interno{
  border-bottom: 1px solid;
  height: 2.5rem;
}
.number_items{
  padding: .2rem 0.8rem;
  background: #eaeaea;
  border-radius: 50px;
  color: #b1b1b1;
  margin-left: 0.5rem;
  font-size: smaller;
  margin-top: 0.2rem;
}
.profiles_headers{
  border-bottom: 1px solid #d3d3d3;
  height: 2.3rem;
}
.btn_completo{
  pointer-events: none;
  cursor: none;
  cursor: pointer;
  border: solid 2px rgba(0, 0, 0, 0.2);
  background: #d3d3d333;
  color: #8e8e8e;
  border-radius: 2px;
  padding: 0rem 0.5rem;
  font-weight: bold;
}
.ul_favs_games>li{
  list-style: none;
  a{
    color: #333;
    text-decoration: none;
  }
}





$c-white: #fff;
$c-black: #d3d3d3;
$c-theme: $navbar;

.Switcher {
  position: relative;
  display: flex;
  //border-radius: 5em;
  //box-shadow: inset 0 0 0 1px;
  overflow: hidden;
  cursor: pointer;
  animation: r-n .5s;
  user-select: none;
  font-size: 1.5vmin;
  will-change: transform;

  .Switcher__checkbox:checked + & {
    animation-name: r-p;
  }

  @keyframes r-p {
    50% { transform: rotateY(45deg); }
  }
  @keyframes r-n {
    50% { transform: rotateY(-45deg); }
  }

  // indicator
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    border-radius: inherit;
    background-color: $navbar;
    transform: translateX(-75%);
    transition: transform .5s ease-in-out;

    .Switcher__checkbox:checked + & {
      transform: translateX(25%);
    }
  }

}

.Switcher__trigger {
  position: relative;
  z-index: 1;
  padding: 1em 5em;

  &::after {
    content: attr(data-value);
  }

  &::before {
    --i: var(--x);
    content: attr(data-value);
    position: absolute;
    //color: $c-theme;
    transition: opacity .3s;
    opacity: calc((var(--i) + 1) / 2);
    transition-delay: calc(.3s * (var(--i) - 1) / -2);


    .Switcher__checkbox:checked + .Switcher & {
      --i: calc(var(--x) * -1);
    }
  }

  &:nth-of-type(1)::before {
    --x: 1;
  }

  &:nth-of-type(2)::before {
    --x: -1;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.box {
  width: 25%;
  height: 50px;
  display: flex;
  text-align: center;
  margin: auto;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  perspective: 750px;
}

@keyframes toogle_switch{
  from{width: 25%}
  to{width: 75%}
}

.toogle_switch{
  display: flex;
  cursor: pointer;
  border: solid 2px $navbar;
  background: #fff;
  color: $navbar;
  border-radius: 2px;
  font-weight: bold;
}

.toogle{
  width: 75%;
  padding-top: 11px;
  transition: 0.5s;
}
.toogle.toogle_selected{
  background-color: $navbar;
  color: #fff;
  width: 25%;
  transition: 0.5s;
  &:hover{
    width: 75%;
  }
}

.video_sugerencias{
  height: 94vh;
  overflow: auto;
  overflow-x: hidden;
}

.sugerencias_titulo{
  margin: 1rem;
  top: 0;
  padding-top: 1rem;
  padding-bottom: .5rem;
  position: sticky;
  background: #f5f8fa;
  z-index: 100;
}

.video_footer{

}
.chat{
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: grey solid 2px;
  position: relative;
}

.chat_texto{
  margin: .5rem 0rem;
  &>span{
    width: auto;
    background-color: $navbar_text;
    position: relative;
    padding: 0.1rem 0.4rem;
    border-radius: 4px;
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent $navbar_text transparent transparent;
    }
  }

}
.chat_cuerpo{
  height: 75%;
  overflow-y: auto;
  padding-left: 1rem;
}
.chat_escribir{
  height: 25%;
  padding: 1rem;
  bottom: 0;
  position: absolute;
  width: 100%;
  &>textarea{
    width: 100%;
    resize: none;
    height: 50%;
  }
}